* {
    box-sizing: border-box;
}

body {
    background-color: #89EABF;
    margin-left:15%;
    margin-right:15%;
}

img{
    width: 30%;
    height: 550px;  
    border: 12px solid rgb(0, 0, 0);
}
  

  @media screen and (max-width: 912px) {
    body {
      background-color: #89D4EA;
    }
    img{
        width: 49%;
    }
  }


  @media screen and (max-width: 650px) {
    body {
      background-color: #F3EEEE;
    }
    img{
      width: 100%;
    }
  }