#section1,#seciton2,#section3,#seciton4{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: black;
}
h1{
    color: rgb(215, 219, 250);
}
.divs{
    display: flex;
    justify-content: space-between;
   
    margin: 15%;
}
.divs a{
    background-color:grey;
    padding: 10px;
}