body{
    background-color: darkviolet;
    align-items: center;
}
h1{
    color: beige;
}
h2{
    color:darkorange;
   
}
h4{
    color: crimson;
}
h5{
    color: chartreuse;
}
h6{
    color: crimson;
}